*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

/* highlight color */
::selection{
  background-color: #ecf0f1;
  color: #2c3e50;
}

body {
  overflow: hidden;
  cursor: url('./img/spacrecraft.png'), auto;
}

a,.btn:hover, i, button,
.btn-close.text-reset{
  cursor: url('./img/spacrecraft-pointer.png'), auto;
}


.warpper{
  height: 100%;
  width: 100%;
  position: relative;
}

/* icon loader */
.icon-loader{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgb(0,198,197);
  background: radial-gradient(circle, rgba(0,198,197,1) 0%, rgba(41,99,136,1) 50%, rgba(7,68,96,1) 100%);
}

.icon-container .gundam{
  height: 100px;
  width: 100px;
}

.poli
{
  fill: transparent!important;
  stroke-width: 0.5;
  stroke: #ecf0f1;
}

.icon-container .icon.gundam polygon,
.icon-container .icon.gundam rect,
.icon-container .icon.gundam circle
{
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
}

.icon-container .icon.gundam polygon,
.icon-container .icon.gundam rect,
.icon-container .icon.gundam circle{
  animation-name: animate;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transition: 0.8s;
}

@keyframes animate{
  0%{
    stroke-dashoffset: 110;
  }
  50%{
    stroke-dashoffset: 50;
  }
  70%{
    stroke-dashoffset: 20;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
/* end icon loader */

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;  
    top: 0;
    left: 0;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/03/09/03/universe-1566159_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} 

#header a,
#header ul li
{
    color: #fff;
}

.banner{
    background: url('https://cdn.pixabay.com/photo/2017/11/27/21/31/computer-2982270_960_720.jpg');
    height: 100%;
    background-size: cover;
    width: 100%;
}

.cover-container{
    min-height: 100vh;
    width: 100%;
}

.cover-container h1{
    font-size: 4rem;
}

.text-white.mx-auto.my-auto.fw-lighter{
  font-size: 38px;
}

h2.text-light.fw-light.text-uppercase{
    letter-spacing: 3px;
}

.btn.btn-transparent{
    border: #ecf0f1 3px solid;
}

/* audioplayer */
.audioplayer{
  position: absolute;
  font-size: 23px;
  z-index: 1000;
  right: 30px;
}

.mouse-bounce{
   position: relative;
   z-index: 99;
   transition: 0.5s;
   animation: mouse-anim 1s ease-out 0s infinite;
}

.mouse-bounce-phone{
  position: relative;
  z-index: 99;
  transition: 0.5s;
  animation: mouse-anim 1s ease-out 0s infinite;
}

/* change icon responsive */
@media (max-height: 565px){
  .mouse-bounce-phone a{
    bottom: -10em!important;
  }
}

@media (max-height: 450px){
  .mouse-bounce-phone a{
    bottom: -8em!important;
  }
}

@media (max-height: 360px){
  .mouse-bounce-phone a{
    bottom: -6em!important;
  }
}

@media (min-width: 1280px){
  .mouse-bounce a{
    top: 10rem;
    height: 40px;
    width: 20px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mouse-bounce-phone{
    top: 10rem;
    height: 40px;
    width: 20px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1280px){
  .mouse-bounce-phone a{
    bottom: -12em;
    height: 40px;
    width: 20px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .mouse-bounce a{
    top: 10rem;
    height: 40px;
    width: 20px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}


@keyframes mouse-anim{
    0% {
        top: 0px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
}

/* end icon changing */

.offcan-img{
  width: 50px;
}

/* typing text effect */
.hidden {
    opacity:0;
  }
  .console-container {
   
    font-size:4em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

  .offcanvas-start{
    width: 215px;
    /* background-color: #2980b9; */
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(35,165,176,1) 72%, rgba(0,159,255,0.9273459383753502) 97%);
  }

  .offcanvas-header{
    color: #ecf0f1;
    border-bottom: 2px #2d3436 solid;
    letter-spacing: 1px;
  }

  .offcanvas-header h5{
    margin-bottom: 0;
  }

  .offcanvas-backdrop.show{
    opacity: 0.2;
  }

  .offcanvas-body{
    background-color:#ecf0f1;
  }

  .offcanvas-body a{
    letter-spacing: 1px;
    color: #000;
    font-size: 18px;
  }

  .offcanvas-body ul li a::after{
    content: '';
    width: 100%;
    background-color: #2d3436;
    top: auto;
    left: auto;
    right: auto;
    display: block;
    position: relative;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
  }

  .offcanvas-body ul li a:hover::after {
    transform: scaleX(1);
  }

  
  /* responsive */

  
@media (min-width: 980px) {
  h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
    font-size: 5rem;
  }

  .text-white.mx-auto.my-auto.fw-lighter{
    font-size: 48px;
  }
}
  
@media (max-width: 770px) {
  h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
    font-size: 50px;
  }
  .text-white.mx-auto.my-auto.fw-lighter{
    font-size: 24px;
  }
}

@media (max-width: 520px) {
  h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
    font-size: 40px;
  }
  .text-white.mx-auto.my-auto.fw-lighter{
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
    font-size: 30px;
  }
  .text-white.mx-auto.my-auto.fw-lighter{
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
    font-size: 23px;
  }

  .text-white.mx-auto.my-auto.fw-lighter{
    font-size: 19px;
  }
}
  /* glitch animation */
    h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1{
        animation: glitch 1s linear infinite;
        
      }
    
      @keyframes glitch{
        2%,64%{
          transform: translate(2px,0) skew(0deg);
        }
        4%,60%{
          transform: translate(-2px,0) skew(0deg);
        }
        62%{
          transform: translate(0,0) skew(5deg); 
        }
      }
    
      h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1::before,
      h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1::after{
        content: attr(title);
        position: absolute;
        left: 0;
      }
    
      h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1::before{
        animation: glitchTop 1s linear infinite;
        clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
      }
    
      @keyframes glitchTop{
        2%,64%{
          transform: translate(2px,-2px);
        }
        4%,60%{
          transform: translate(-2px,2px);
        }
        62%{
          transform: translate(13px,-1px) skew(-13deg); 
        }
      }
    
      h1.text-uppercase.text-white.mx-auto.my-auto.fw-normal.mb-1::after{
        animation: glitchBotom 1.5s linear infinite;
        clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
      }
    
      @keyframes glitchBotom{
        2%,64%{
          transform: translate(-2px,0);
        }
        4%,60%{
          transform: translate(-2px,0);
        }
        62%{
          transform: translate(-22px,5px) skew(21deg); 
        }
      }


  

  



